extends ../base.pug

block variables
  - var template = 'detail'


block content
  .detail
    .detail__wrapper
      figure.detail__media
        img.detail__media__image(alt=product.data.image.alt src=product.data.image.url)

      .detail__intormation
        p.detail__intormation__collection=product.data.collection.data.title

        h1.detail__information__title=product.data.title

        .detail__intormation__content
          .detail__intormation__highlights
            each highlight in product.data.highlights
             p.detail_information_highlight
              svg.detail__information__highlight__icon
                use(x:link href=`sprite-$${highlight.highlight_icon.toLowerCase()}`)

              span.detail__information__highlight__text=highlight.highlight_text

          .detail__intormation__list
              each item in product.data.informations
                p.detail__information__item
                  strong.detail__information__item__title=item.informations_label
                  span.detail__information__item_description=item.informations_description

          a.detail__information__link(href=product.data.link_url.url target="_blank")=product.data.link_text
