extends ../layout.pug

block variables
  - var template = 'home'

block content
  .home(data-background="#000000" data-color="#f9f1e7")
    .home__wrapper
      .home__titles
        each collection, index in collections
          .home__titles__label=`${home.data.collection} ${ctx.Numbers(index)}`
          .home__titles__title=collection.data.title
      .home__gallery
        each media, index in [...home.data.gallery,...home.data.gallery,...home.data.gallery,...home.data.gallery,...home.data.gallery,...home.data.gallery,...home.data.gallery,...home.data.gallery,...home.data.gallery,...home.data.gallery]
          figure.home__gallery__media( class=`home__gallery__media--${(index % 5) + 1}`)
            img.home__gallery__media__image(data-src=media.image.url alt=media.image.alt)
      
      a.home__link(href=ctx.Link(home.data.collections))
        p.home__link__text=home.data.button
        svg.home__link__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 60")
          path(stroke="currentColor" fill="none" d="M144,0.5c79.25,0,143.5,13.21,143.5,29.5S223.25,59.5,144,59.5S0.5,46.29,0.5,30S64.75,0.5,144,0.5z")
          path.home__link__icon__path(stroke="#ffffff" fill="none" d="M144,0.5c79.25,0,143.5,13.21,143.5,29.5S223.25,59.5,144,59.5S0.5,46.29,0.5,30S64.75,0.5,144,0.5z")

